/* @import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
    /* background-color: ; */
}

:root {
    --main-bg: #1e272e;
    --main-color: #009786;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}
nav{
    background-color: #1e202b;
}
nav p{
    font-size: 25px;
  padding-top: 25px;
}
.row {
    margin: 0;
}

.collapse navbar-collapse{
    display: flex;
    justify-content: space-between;
}
.navbar {
    color: #fff;
    background-color:black;
    height: 80px;
}
.navbar ul{
    display: flex;
    /* justify-content: end; */
    padding-top:10px;
    margin-right: 20px;
}

.navbar li {
    margin-left: 2rem;
}

.navbar a {
    color: #fff;
    font-size: 2.5rem;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar-toggler {
    background-color: grey;
}

.temp_form{
    width: 60%;
    position: relative;
    margin: 7rem auto 6rem;
}

.temp_form input[type="text"]{
    width: 100%;
    padding: 2rem 5rem 2rem 5rem;
    background: white;
    color: BLACK;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    border-radius: 3rem;
}

.temp_form input[type="submit"]{
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: red;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
}

.temp_form input[type="submit"]:hover{
    color: #009ad8;
    background-color: #fff;
}

.temp_form select{
    width: 100%;
    padding: 2rem 5rem 2rem 5rem;
    background: white;
    color: #1e202b;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    border-radius: 3rem;
}

label{
    font-size: 2rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.5rem;
}

/* Thumbnails */

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 50px; /* Adjust this value based on your design */
    max-height: 10px; /* Adjust this value based on your design */
}

#genre{
    width: 490px;
}

#submitBtn{
    padding: 10px;
    width: 120px;
}
.image-container img {
    margin: 10px;
    max-width: 10px; /* Adjust this value based on your design */
    max-height: 20px; /* Adjust this value based on your design */
}
