* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%; 
    padding: 20px;
    height: 80px;/* Set the width to 100% */
    display: flex;
    justify-content: flex-end; /* Move all text to the right */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}
        image-container {
    display: flex;
}
ul{
    display: flex;
    list-style:none;
}

.image-tile img {
    height: 200px;
    width: 361px;
    object-fit: cover;
} 
.navbar-nav ml-auto{
    display: flex;
}
.image-tile{
    margin: 10px;
}